<%- include('partials/header'); -%>
 
<div class="box" id="heading">
    <h1>About Page</h1>
    
</div>

<!-- <div class="box">
    <p>This page tells us about this site.</p>
</div> -->

<div class="box">
    <p><%=aboutContent%> </p>
</div>

    
<%- include('partials/footer'); -%>