<%- include('partials/header'); -%>
 
<div class="box" id="heading">
    <h1>Contact Page</h1>
    
</div>

<!-- <div class="box">
    <p>This is the Contact page</p>
</div> -->

<div class="box">
    <p><%=contactContent%> </p>
</div>
    
<%- include('partials/footer'); -%>